{% extends 'main_site/base.html' %}

{% load staticfiles %}

{% block header %}
<header id="header" class="alt">
    <h2><a href="/">PriceSleuth</a></h2>
</header>
{% endblock %}
{% block content %}
<!-- Main -->
<div id="main">
    <!-- Content -->
        <section id="content" class="main">
            <form action="/search/" method="get">
                {% csrf_token %}
                <div id="search-params">
                    <p style="float:left;padding-right: 30px">Search By:{{ form.search_by }}</p>
                    <p style="float:left;padding-right: 30px">Sort By:{{ form.sort_by }}</p>
                    <p style="float:left;padding-right: 30px">Order:{{ form.order }}</p>
                </div>
                {{ form.search_query }}
                <input type="submit" value="Search" />
            </form>
            {% for a in results %}
                <li><a href="{% url 'result' a.issn %}">{{ a.journal_name }}</a></li>
            {% endfor %}
        </section>
</div>
{% endblock %}
{% block extra_scripts %}
    <style>
    /* Making the default width smaller specifically for the result page */
        #wrapper {
		    width: 45em;
	    }
    </style>
{% endblock %}