{% extends 'main_site/base.html' %}

{% load staticfiles %}

{% block header %}
<header id="header" class="alt">
    <h1><a href="/">PriceSleuth</a></h1>
    <p>Empowering researchers to maximize their published impact at any price level. <br />
    Built by the <a href="http://datalab.ischool.uw.edu">UW DataLab</a></p>
</header>
{% endblock %}
{% block content %}
<!-- Main -->
<div id="main">

    <!-- Content -->
        <section id="content" class="main">
            <h2>PriceSleuth Search</h2>
            <form action="/search/" method="get">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>
            {% for a in results %}
                <li><a href="{% url 'result' a.issn %}">{{ a.journal_name }}</a></li>
            {% endfor %}
        </section>

</div>
{% endblock %}