{% extends 'main_site/base.html' %}

{% load staticfiles %}

{% block content %}
<!-- Main -->
<div id="main">

    <!-- Content -->
        <section id="content" class="main">
            <h2>PriceSleuth Search</h2>
            <form action="/search/" method="get">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
            </form>
            {% for a in results %}
                <li><a href="{% url 'result' a.issn %}">{{ a.journal_name }}</a></li>
            {% endfor %}
        </section>

</div>
{% endblock %}