{% extends 'main_site/base.html' %}

{% load staticfiles %}
{% load pages_tags %}
{% block header %}
<!-- Header -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <header id="header" class="alt">
        <a href="/"><img src="{% static "images/logo.png" %}" width="50%" height="50%" alt="Flourish"></a>
        <p>Discover Your Open Access Options<br />
        Built by the <a href="http://datalab.ischool.uw.edu">UW DataLab</a></p>
    </header>

<!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/api/docs">API Documentation</a></li>
            <li><a href="/scatter">Scatterplot Visualization</a></li>
            <li><a href="/bar">Category Visualization</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/search" style="background-color:#030b23;color:white;">Search Our Catalog</a></li>
        </ul>
</nav>
{% endblock %}

{% block content %}
<!-- Main -->
    <div style="text-align: center; color: black;" id="main"><br />
        <h1 style>404 Page Not Found</h1>
        <p>We cannot find the page in question</p><br />
    </div>
{% endblock %}
