{% extends "main_site/base.html" %}
{% load staticfiles %}
{% load pages_tags %}
{% block header %}
<!-- Header -->


<header id="header" class="alt">
    <div style="overflow: hidden;display: inline-block">
        <h1 style="float: left">About <a href="/">Flourish</a></h1>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Main -->
<div id="main">
    <!-- Content -->
        <section id="background" class="main">
            <h2>{% placeholder "Section 1 Title" with TextInput %}</h2>
            {% placeholder "Section 1 Content" with Textarea %}
        </section>
        <section id="vision" class="main">
            <h2>{% placeholder "Section 2 Title" with TextInput %}</h2>
            {% placeholder "Section 2 Content" with Textarea %}
        </section>
        <section id="data" class="main">
            <h2>{% placeholder "Section 3 Title" with TextInput %}<h2>
            {% placeholder "Section 3 Content" with Textarea %}
        </section>
        <section id="funding" class="main">
            <h2>{% placeholder "Section 4 Title" with TextInput %}</h2>
            {% placeholder "Section 4 Content" with Textarea %}
        </section>
        <section id="type" class="main">
            <h2>{% placeholder "Section 5 Title" with TextInput %}</h2>
            {% placeholder "Section 5 Content" with Textarea %}
        </section>
        <section id="team" class="main">
            <h2>{% placeholder "Section 6 Title" with TextInput %}<h2>
            {% placeholder "Section 6 Content" with Textarea %}
        </section>
</div>
{% endblock %}

