{% extends "main_site/base.html" %}
{% load staticfiles %}
{% block header %}
<!-- Header -->


<header id="header" class="alt">
    <div style="overflow: hidden;display: inline-block">
        <h1 style="float: left">About <a href="/">PriceSleuth</a></h1>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Main -->
<div id="main">
    <!-- Content -->
        <section id="background" class="main">
            <h2>Background</h2>
            <p>While publications espousing the philosophy of what we now call Open Access have existed at least since the
                mid-1900s (see
                <a href="https://en.wikipedia.org/w/index.php?title=Open_access&oldid=740735939#History)">
                                  Wikipedia’s Open Access History section
                </a>), the growth of the internet has greatly increased the ability of researchers and publishers to share
                their work. Publishers are no longer required to provide costly printed journals and can reach a much
                wider audience online.</p>
            <p>Preprint archives, beginning with <a href="http://arxiv.org">arXiv</a> in 1991, allowed  scientists to
                self-archive their research online prior to publication. Preprint archives were early efforts to share
                research freely and electronically.</p>
            <p>On February 14, 2002, the
                <a href="http://www.budapestopenaccessinitiative.org/read)">Budapest Open
                Access Initiative</a> coined the phrase “open access.” While this was not the beginning of the movement
                toward “free and unrestricted access to [peer-reviewed journal literature],” the initiative provided
                the much needed foundation for advocates of research-sharing to come together and promote open access.
            </p>
        </section>
        <section id="vision" class="main">
            <h2>Vision</h2>
            <p>The success of the Open Access publishing model is highly dependent on a thriving, transparent marketplace.
                Researchers need to quickly and reliably identify high-quality, relevant and reputable Open Access publications
                that will maximize their publishing impact. Conversely, quality Open Access publishers must be able to
                distinguish themselves from the fray of “predatory” journals and unproven startups. By aggregating price
                information and impact data we empower researchers to identify credible Open Access journals that best fit
                their publication needs. We also alert the community to unreliable and predatory publishers. Our goal is to
                increase the use, reliability, and influence of OpenAccess publishing, while decreasing the motivation of
                predatory publishers by exposing them to the community.
            </p>
        </section>
        <section id="data" class="main">
            <h2>Data</h2>
            <p>Our article processing charges are scraped directly from several publisher’s websites.
                We maintain a database consisting of the publishers, publication names, and article processing charges,
                as well as a handful of other metrics. We then calculate each publication’s influence score using Jevin
                West’s ArticleInfluence metric. Our database has journal prices for some journals as far back as 2012,
                and more historical prices are being added for more effective analysis. We believe in sharing our data
                openly and have created a well-documented <a href="/api/docs/">REST API</a> so that you can easily
                access this data.
            </p>
        </section>
        <section id="funding" class="main">
            <h2>Funding</h2>
            <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis fames ac ante ipsum primis in faucibus.</p>
            <p>Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Consequat leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit enim turpis lorem ipsum dolor sit amet feugiat. Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet est velit quis lorem.</p>
            <p>Cep risus aliquam gravida cep ut lacus amet. Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae ante vestibulum ante. Blandit. Ante accumsan nisi eu placerat gravida placerat adipiscing in risus fusce vitae ac mi accumsan nunc in accumsan tempor blandit aliquet aliquet lobortis. Ultricies blandit lobortis praesent turpis. Adipiscing accumsan adipiscing adipiscing ac lacinia cep. Orci blandit a iaculis adipiscing ac. Vivamus ornare laoreet odio vis praesent nunc lorem mi. Erat. Tempus sem faucibus ac id. Vis in blandit. Nascetur ultricies blandit ac. Arcu aliquam. Accumsan mi eget adipiscing nulla. Non vestibulum ac interdum condimentum semper commodo massa arcu.</p>
        </section>
        <section id="type" class="main">
            <h2>Types of Journal</h2>
            <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis fames ac ante ipsum primis in faucibus.</p>
            <p>Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Consequat leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit enim turpis lorem ipsum dolor sit amet feugiat. Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet est velit quis lorem.</p>
            <p>Cep risus aliquam gravida cep ut lacus amet. Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae ante vestibulum ante. Blandit. Ante accumsan nisi eu placerat gravida placerat adipiscing in risus fusce vitae ac mi accumsan nunc in accumsan tempor blandit aliquet aliquet lobortis. Ultricies blandit lobortis praesent turpis. Adipiscing accumsan adipiscing adipiscing ac lacinia cep. Orci blandit a iaculis adipiscing ac. Vivamus ornare laoreet odio vis praesent nunc lorem mi. Erat. Tempus sem faucibus ac id. Vis in blandit. Nascetur ultricies blandit ac. Arcu aliquam. Accumsan mi eget adipiscing nulla. Non vestibulum ac interdum condimentum semper commodo massa arcu.</p>
        </section>
        <section id="team" class="main">
            <h2>Team</h2>
            <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis fames ac ante ipsum primis in faucibus.</p>
            <p>Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Consequat leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit enim turpis lorem ipsum dolor sit amet feugiat. Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet est velit quis lorem.</p>
            <p>Cep risus aliquam gravida cep ut lacus amet. Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae ante vestibulum ante. Blandit. Ante accumsan nisi eu placerat gravida placerat adipiscing in risus fusce vitae ac mi accumsan nunc in accumsan tempor blandit aliquet aliquet lobortis. Ultricies blandit lobortis praesent turpis. Adipiscing accumsan adipiscing adipiscing ac lacinia cep. Orci blandit a iaculis adipiscing ac. Vivamus ornare laoreet odio vis praesent nunc lorem mi. Erat. Tempus sem faucibus ac id. Vis in blandit. Nascetur ultricies blandit ac. Arcu aliquam. Accumsan mi eget adipiscing nulla. Non vestibulum ac interdum condimentum semper commodo massa arcu.</p>
        </section>
</div>
{% endblock %}

