<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.text{
    font: 10px sans-serif;
    fill:black;
    }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 75px;
  left: 200px; 
}

label2 {
  position: absolute;
  top: 75px;
  left: 40px; 
}

/* Define tooltip style */
.d3-tip {
    font: 10px sans-serif;
    line-height: 1;
    font-weight: normal;
    padding: 4px;
    background: lightsteelblue;
    color: black;
    border: 1px black;
    border-radius: 2px;
    box-shadow: -3px 3px 15px #888888;
}

/* Create a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Alignment of tooltip above bar */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

#controls {
        width: 200px;
        height:40px;
        border-left: 200px;
        padding-top: 1px;
        padding-left: 60px;
}

div.content { width: 950px }

</style>
 
<title>FlourishOA View 2</title>

<script src="https://d3js.org/d3.v4.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.0/d3-tip.min.js">
</script>
<body>
<div class="content">
    <h1 align="center">Average Article Processing Charge by Journal Category</h1>
<label><input id="check" type="checkbox"> Sort by APC Values Descending</label>
    <div id="controls">
        <label2 for="type">Filter Data by Year:</label2>
        <input type="text" id="mytype" readonly style="border:0; color:#f6931f; font-weight:bold;">
	
				<div id="filters">
					<select id="myselectform">
						<option value="all">All</option>
						<option value="2012">2012</option>
						<option value="2013">2013</option>
						<option value="2016">2016</option>
						
					</select>
				</div>
    </div>
</div>
<script>

var margin = {top: 20, right: 50, bottom: 250, left: 45},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scaleBand()
    .rangeRound([0, width], .1)
	.paddingInner(0.1);

var y = d3.scaleLinear()
    .range([height, 0]);

var xAxis = d3.axisBottom()
    .scale(x)
    .tickPadding(10);

var yAxis = d3.axisLeft()
    .scale(y)
    .ticks(10)
    .tickFormat( function(d) { return "$" + d } ); // Add dollar sign to y axis

tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .direction('n');

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .call(tip)
    .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	

var dataset; //the full dataset

// Assign timeParse & timeFormat function to a variable for later use
var parseDate = d3.timeParse("%Y-%m-%d");
var formatDate = d3.timeFormat("%m-%d-%Y")

d3.csv("./static/view2_data.csv", function(error, data) {
//read in the data stored in same folder
	if (error) return console.warn(error);
	data.forEach(function(d) {  // assign data types to each column
		d.price = +d.price;
		d.date_stamp1 = parseDate(d.date_stamp1);
		d.category = (d.category);
	});

// Define what happens when drop down menu option is selected
$("#myselectform").change(function() {
				var yearFinder = $("#myselectform").find(":selected").text();
				filterType(yearFinder);
				})

// dataset is the full dataset -- maintain a copy of this at all times
dataset = data;

// Draw the visualization as per function
drawVis(dataset);

// Define the drawVis function
function drawVis(dataset) {
    // Create new array with key value categories and mean price per category
    var pricesAvgAmount = d3.nest()
    .key(function(d) { return d.category; })
    .rollup(function(v) { return d3.mean(v, function(d) { return d.price; }); })
    .entries(dataset);

    // Sort the data by the category name alphabetically
    pricesAvgAmount = pricesAvgAmount.sort(function (a,b) {return d3.ascending(a.key, b.key);});

    // Set the domains of the x and y axes
    x.domain(pricesAvgAmount.map(function(d) { return d.key; }));
    y.domain([0, Math.ceil(d3.max(pricesAvgAmount, function(d) { return d.value; })/ 1000.0)*1000]); // the domain value of y is 0 to the max y value rounded up to the nearest thousand

    var ChartGroup = svg.append("g") // this element will bind the axes and the charts
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    // Append x axis
    ChartGroup.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")") // shifts the axis from the top of the svg object to the bottom
        .call(xAxis)
        .selectAll("text")	
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", "-.5em")
            .attr("transform", "rotate(-65)"); // rotate axis labels

    // Append an x-axis label
    ChartGroup.append("text")
            .attr("y", 420)
            .attr("x", width/2)
            .attr("dy", "1em")
            .style("text-anchor", "end")
            .text("Journal Category")

    // Append a y-axis label
    ChartGroup.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", -65)
            .attr("x", -10)
            .attr("dy", "1em")
            .style("text-anchor", "end")
            .text("Average Article Processing Charge");

    // Append the y axis
    ChartGroup.append("g")
        .attr("class", "y axis")
        .call(yAxis);
            
    // Link data to bars
    ChartGroup.selectAll(".bar")
        .data(pricesAvgAmount)
        .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return x(d.key); })
            .attr("width", x.bandwidth())
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d) { return height - y(d.value); })
            .on("mouseover", function(d) {
                    tip
                        .html(function() {
                            return d.key + ": $" + d.value.toFixed(2)
                        })
                        .show()
                    ;
                })
            .on("mouseout", tip.hide);
            

    
    // Set the checkbox to unchecked
    document.getElementById("check").checked = false;

    // When checkbox status is changed, run change function
    d3.select("input").on("change", change);

    // Define what should happen when check box is checked
    function change() {
        
        var x0 = x.domain(pricesAvgAmount.sort(this.checked
            ? function(a, b) { return b.value - a.value; }
            : function(a, b) { return d3.ascending(a.key, b.key); })
            .map(function(d) { return d.key; }))
            .copy();

        svg.selectAll(".bar")
            .sort(function(a, b) { return x0(a.key) - x0(b.key); });

        var transition = svg.transition().duration(750),
        delay = function(d, i) { return i * 50; };

        transition.selectAll(".bar")
            .delay(delay)
            .attr("x", function(d) { return x0(d.key); });

        transition.select(".x.axis")
            .call(xAxis)
        .selectAll("g");
    }
}
// Redraw vis if drop-down menu is used
function filterType(mtype) {
	var patt = new RegExp("all");
	var res = patt.test(mtype.toLowerCase());
		if(res){
            svg.selectAll("*").remove();
			drawVis(dataset);
		} else {
            svg.selectAll("*").remove();
			var ndata = data.filter(function(d) {
				console.log(mtype)
		    return String(formatDate(d.date_stamp1).split("-")[2]) == mtype; 
		    });	
	        drawVis(ndata);
		}
}

});

</script>
<div class="content">
<h2>What is this data?</h2>
<p>The data used in the visualization above originates from another project I am involved with called <a href="http://flourishoa.org/" target="_blank">FlourishOA.org</a>. The FlourishOA team collects and analyzes data about Open Access publications. Much of this data is publicly accessible through the <a href="http://flourishoa.org/api/docs" target="_blank">FlourishOA.org API</a>.</p>
<p>The three variables charted above are:</p>
<ul>
<li>Article Processing Charge (APC): the cost to publish in the given journal</li>
<li>Year: the year in which the APC data was gathered</li>
<li>Journal Category: a category assigned to the journal by <a href="http://clarivate.com/?product=journal-citation-reports" target="_blank">Clarivate Analytics Journal Citation Report</a></li>
</ul>
<h2>How do I use the visualization?</h2>
<p>The bar chart is designed to give you summary information about the mean APC to publish in Open Access journals in various fields (categories). The cost represented is a mean value for all years combined, or a particular year chosen from the drop-down menu. The default sorting is alphabetical by category, but the checkbox provided allows you to sort by descending mean APC.</p>
</div>
</body>