{% extends 'main_site/base.html' %}

{% load staticfiles %}
{% load pages_tags %}
{% block header %}


<!-- Header -->

<script src="/static/script.js"></script>

<header id="header" class="alt">
    <a href="/"><img src="{% static "images/logo.png" %}" width="50%" height="50%" alt="Flourish"></a>
        <p>Discover Your Open Access Options<br />
        Built by the <a href="http://datalab.ischool.uw.edu">UW DataLab</a></p>
</header>

<!-- Header -->

{% endblock %}

{% block content %}
                
<!-- Main -->
<div id="main">
    <!-- Content -->
        <section id="background" class="main">
            {% if failed %}
                <h4 style="color: red">The insertion failed. Please try again.</h4>
            {% endif %}
            {% if errors %}
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <h2>Crowd Sourced Submission Page</h2>
            <p>If you have a questions or would like to communicate further with us, please email flourishoa@gmail.com</p>
            {% for field in form%}
                <p>
                {{ field.label_tag }} {{ field }}
                </p>
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    </div>


        <!-- Footer -->
            <footer id="footer">
                <section>
                    <h2>Funding support</h2>
                    <a href="http://www.sloan.org/"><img width="auto" height="auto"
                         src="/static/images/SloanLogo-primary-black.png" alt="Sloan Logo"></a>
                    <p><a href="/about/#funding" class="button">Learn More</a></p>
                </section>
                <section>
                    <a href="http://datalab.ischool.uw.edu">
                        <h2>University of Washington DataLab</h2>
                    </a>
                    <dl class="alt">
                        <dt>Email</dt>
                        <dd><a href="mailto:flourishoa@gmail.com">flourishoa@gmail.com</a></dd>
                        <dt>Feedback</dt>
                        <dd><a href="http://bit.ly/flourishfeedback">bit.ly/flourishfeedback</a></dd>
                    </dl>
                    <p><a href="/about/#team" class="button">Learn More</a></p>
                    <ul class="icons">
                        <li><a href="https://twitter.com/Flourish_OA" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
                        <li><a href="https://github.com/FlourishOA" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
                        <li><a href="https://facebook.com/flourishoa" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
                    </ul>
                </section>
                <p class="copyright">&copy; UW DataLab. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

    </div>

{% endblock %}