{% extends 'main_site/base.html' %}

{% load staticfiles %}
{% load pages_tags %}
{% block header %}
<!-- Header -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <header id="header" class="alt">
        <a href="/"><img src="{% static "images/logo.png" %}" width="50%" height="50%" alt="Flourish"></a>
        <p>Discover Your Open Access Options<br />
        Built by the <a href="http://datalab.ischool.uw.edu">UW DataLab</a></p>
    </header>

<!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/api/docs">API Documentation</a></li>
            <li><a href="/scatter">Scatterplot Visualization</a></li>
            <li><a href="/bar">Category Visualization</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/search" style="background-color:#030b23;color:white;">Search Our Catalog</a></li>
        </ul>
</nav>
{% endblock %}

{% block content %}
<!-- Main -->
    <div id="main">
    <!-- Scatter plot viz -->

        <section id="sp-viz" class="main">
            <h3 align="center">Article Processing Charge and Article Influence Score</h3>
            <script type="text/javascript">
                $( document ).ready(function() {
					$('#myselectform').change(function() {
				var catFinder = $('#myselectform').find(":selected").text();
				filterType(catFinder);
					})
			})
            </script>
            <div id="controls">
        <label for="type">Filter Data by Category:</label>
            <div id="filters">
                <select id="myselectform">
                                             <option value="all">All</option>
                                             <option value="Anthropology">Anthropology</option>
                                             <option value="Astronomy and Astrophysics">Astronomy and Astrophysics</option>
                                             <option value="Circuits">Circuits</option>
                                             <option value="Computer Science">Computer Science</option>
                                             <option value="Dentistry">Dentistry</option>
                                             <option value="Dermatology">Dermatology</option>
                                             <option value="Ecology and Evolution">Ecology and Evolution</option>
                                             <option value="Economics">Economics</option>
                                             <option value="Education">Education</option>
                                             <option value="Energy">Energy</option>
                                             <option value="Environmental Health">Environmental Health</option>
                                             <option value="Food Science">Food Science</option>
                                             <option value="Gastroenterology">Gastroenterology</option>
                                             <option value="High Energy Physics">High Energy Physics</option>
                                             <option value="History and Philosophy of Scienced">History and Philosophy of Science</option>
                                             <option value="Infectious Diseases">Infectious Diseases</option>
                                             <option value="Information Science">Information Science</option>
                                             <option value="Law">Law</option>
                                             <option value="Linguistics">Linguistics</option>
                                             <option value="Marketing">Marketing</option>
                                             <option value="Mathematics">Mathematics</option>
                                             <option value="Medicine">Medicine</option>
                                             <option value="Molecular and Cell Biology">Molecular and Cell Biology</option>
                                             <option value="Nephrology">Nephrology</option>
                                             <option value="Neuroscience">Neuroscience</option>
                                             <option value="Oncology">Oncology</option>
                                             <option value="Operations Research">Operations Research</option>
                                             <option value="Ophthalmology">Ophthalmology</option>
                                             <option value="Orthopedics">Orthopedics</option>
                                             <option value="Pharmacology">Pharmacology</option>
                                             <option value="Physics and Chemistry">Physics and Chemistry</option>
                                             <option value="Plant Biology">Plant Biology</option>
                                             <option value="Political Science">Political Science</option>
                                             <option value="Psychiatry">Psychiatry</option>
                                             <option value="Psychology">Psychology</option>
                                             <option value="Radiology">Radiology</option>
                                             <option value="Rheumatology">Rheumatology</option>
                                             <option value="Robotics">Robotics</option>
                                             <option value="Sociology">Sociology</option>
                                             <option value="Sports Medicine">Sports Medicine</option>
                                             <option value="Structural Engineering">Structural Engineering</option>
                                             <option value="Urology">Urology</option>
                                             <option value="Veterinary">Veterinary</option>
                                             <option value="Wood Products">Wood Products</option>
                                             </select>
            </div>
		</div>
            <script type="text/javascript" src="{% static "sp_viz.js" %}"></script>
        </section>
    <!-- Introduction -->
        <section id="intro" class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>
                            {% placeholder "Intro title" with TextInput %}
                        </h2>
                    </header>
                    <p>{% placeholder "Intro Paragraph 1" with Textarea %}</p>
                    <p>{% placeholder "Intro Paragraph 2" with Textarea %}</p>
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/bgtmt3qy-oY?rel=0" frameborder="0" allowfullscreen></iframe>
                    <ul class="actions">
                        <li><a href="/about/#background" class="button">Learn more</a></li>
                    </ul>
                </div>
                <span class="image"><img src="{% static "images/pic01.jpg" %}" alt="" /></span>
            </div>
        </section>

    <!-- First Section -->
        <section id="first" class="main special">
            <header class="major">
                <h2>{% placeholder "Section 1 Title" with TextInput %}</h2>
            </header>
            <ul class="features">
                <li>
                    <span class="icon major style1 fa-code"></span>
                    <h3>{% placeholder "Subtitle 1" with TextInput %}</h3>
                    <p>{% placeholder "Subsection 1.1 Text" with Textarea %}</p>
                </li>
                <li>
                    <span class="icon major style3 fa-copy"></span>
                    <h3>{% placeholder "Subtitle 2" with TextInput %}</h3>
                    <p>{% placeholder "Subsection 1.2 Text" with Textarea %}</p>
                </li>
                <li>
                    <span class="icon major style5 fa-diamond"></span>
                    <h3>{% placeholder "Subtitle 3" with TextInput %}</h3>
                    <p>{% placeholder "Subsection 1.3 Text" with Textarea %}</p>
                </li>
            </ul>
            <footer class="major">
                <ul class="actions">
                    <li><a href="/about/#vision" class="button">Learn More</a></li>
                </ul>
            </footer>
        </section>

    <!-- Second Section -->
        <section id="second" class="main special">
            <header class="major">
                <h2>{% placeholder "Section 2 Title" with TextInput %}</h2>
                <p>{% placeholder "Section 2 Description" with Textarea %}</p>
            </header>
            <ul class="statistics">
                <li class="style1">
                    <span class="icon fa-code-fork"></span>
                    <strong>13145</strong> Journals
                </li>
                <li class="style2">
                    <span class="icon fa-folder-open-o"></span>
                    <strong>7783</strong> Prices
                </li>
                <li class="style3">
                    <span class="icon fa-signal"></span>
                    <strong>6696</strong> Influence Scores
                </li>
                <li class="style4">
                    <span class="icon fa-diamond"></span>
                    <strong>09/05/2017</strong> Most Recent Update
                </li>
                <li class="style5">
                    <span class="icon fa-laptop"></span>
                    <strong>3</strong> Ways to Access Data
                </li>
            </ul>
            <p class="content">{% placeholder "Data Description" with Textarea %}</p>
            <footer class="major">
                <ul class="actions">
                    <li><a href="/about/#data" class="button">Learn More</a></li>
                </ul>
            </footer>
        </section>

    <!-- Get Started -->
        <section id="cta" class="main special">
            <header class="major">
                <h2>Get Started</h2>
            <p>{% placeholder "Getting Started Paragraph" with Textarea %}
                <!--Check out what we've already built with our data or dig in to a project of your own.--></p>
            </header>
            <footer class="major">
                <ul class="actions">
                    <li><a href="viz.html" class="button"
                           style="background-color:#030b23;color:white !important;">Compare Journals</a></li>
                    <li><a href="/api/docs" class="button">Read API Documentation</a></li>
                    <li><a href="/submit" class="button">Submit a New Journal</a></li>
                </ul>
            </footer>
        </section>

</div>
{% endblock %}
