{% extends 'main_site/base.html' %}

{% load staticfiles %}

{% block header %}
<header id="header" class="alt">
    <div style="overflow: hidden;display: inline-block">
        <h2 style="float: left"><a href="/">Flourish</a></h2>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main -->
<div id="main">
    <!-- Content -->
    <section id="content" class="main">
        <div class="dropdown">
            <h3>Category Select</h3>
            <select class="drop">
                {% for cat in categories %}
                    <option tabindex="-1" href="#">{{ cat }}</option>
                {% endfor %}
            </select>
        </br>
        </div>
        <h2>Buying Influence: Maximizing your impact at any price</h2>
        <p>The above visualization plots the article publishing price (APC) of a given journal against its
        ArticleInfluence score. When a given journal is selected via mouseover, information about the journal is shown
        and two sections of the visualization are highlighted. The red section encapsulates journals that are relatively
        worse than the selected journal. Currently, we have {{ num_valid_pairs }} prices plotted in the visualization.</p>
    </section>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "assets/js/d3.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script id="events" type="application/json">{{ events|safe }}</script>
    <script>
    $(document).ready(function() {
        $(".drop").change(function() {
            var cat = $(".drop :selected").text();
            
            window.location  = "http://pricesleuth.eigenfactor.org/viz?category=" + cat
            window.location.reload(True);
          
        });
        var events = JSON.parse(document.getElementById('events').innerHTML);

        var dim = d3.select("#wrapper").node().getBoundingClientRect();
        console.log(dim.width);
        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 40, bottom: 40, left: 40};
        var width = 1000 - margin.left - margin.right;
        var height = 800 - margin.top - margin.bottom;

        // set the ranges
        var x = d3.scaleLinear().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);

        // append the svg obgect to the body of the page
        // appends a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select("#content").insert("svg", ":first-child")
                .attr("overflow", "visible")
                .style("pointer-events", 'all')
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

        events.forEach(function (d) {
            d.price = parseFloat(d.price);
            d.article_influence = parseFloat(d.article_influence);
        });

        // Scale the range of the data
        x.domain([0, d3.max(events, function (d) {
            return d.price;
        })]);

        y.domain([0, d3.max(events, function (d) {
            return d.article_influence;
        })]);

        var node_radius = 12;
        var highlighted_radius = node_radius;

        var popup_margin = 8;
        var ems_to_px = 16;


        var format_price = function(p) {
            return "$" + Number(p).toLocaleString('en');
        };

        var format_ai = function(ai) {
            return Number(ai).toPrecision(3);
        };

        // Add the scatterplot
        var dots = svg.selectAll("dot")
                .data(events).enter().append("g")
                .on("mouseover", function (d) {
                    // nodes fill red when moused over
                    d3.select(this).select("circle")
                            .attr("r", highlighted_radius)
                            .attr("fill", "red");

                    var lines = [
                        d.journal_name + ": ",
                        "ISSN: " + d.issn,
                        "Price: " + format_price(d.price),
                        "AI: " + format_ai(d.article_influence),
                        "Date: " + d.date_stamp
                    ];

                    var scaledX = x(d.price);
                    var scaledY = y(d.article_influence);

                    // transparently highlighting other sections
                    svg.append("rect")
                            .attr("id", "better")
                            .attr("x", 0)
                            .attr("y", 0)
                            .attr("width", scaledX)
                            .attr("height", scaledY)
                            .attr("fill", "green")
                            .attr("opacity", 0.25);

                    svg.append("rect")
                            .attr("id", "worse")
                            .attr("x", scaledX)
                            .attr("y", scaledY)
                            .attr("width", width - scaledX)
                            .attr("height", height - scaledY)
                            .attr("fill", "red")
                            .attr("opacity", 0.25);

                    // creating the popup grouping
                    var popup = svg.append("g")
                            .attr("id", "popup");


                    // popup container (svg rect)
                    var popupRect = popup.append("rect")
                            .attr("fill", "white")
                            .attr("stroke", "black");

                    // base popup text setup (think 'container')
                    var text = popup.append("text")
                            .attr("font-size", "1em")
                            .attr("stroke", "black");

                    // attaching each line of text to the text container
                    lines.forEach(function (line, index) {
                        text.append("tspan")
                                .attr("class", "lines")
                                .attr("x", popup_margin)
                                .attr("dy", ems_to_px + popup_margin)
                                .text(line);
                    });

                    // getting boundaries of the text
                    var bbox = text.node().getBBox();

                    // setting the background width and height, using text boundaries
                    popupRect.attr("width", bbox.width + 2 * popup_margin)
                            .attr("height", bbox.height + 2 * popup_margin);

                    // adding the popup with the offset to appear directly above the node
                    popup.attr("transform", function () {
                        return "translate(" + (scaledX - (popupRect.attr("width")) / 2) + ","
                                + (scaledY - popupRect.attr("height") - ems_to_px) + ")";
                    });
                })

                .on("mouseout", function (d) {
                    // removing elements from mouseover
                    d3.select("#popup").remove();
                    d3.select("#better").remove();
                    d3.select("#worse").remove();
                    // reverting color
                    d3.select(this).select("circle")
                            .attr("fill", "#6699ff")
                            .attr("r", node_radius);
                });

        // adding links and circle for each journal
        dots.append("a")
                .attr("xlink:href", function (d) {
                    return "/journal/" + d.issn + "/"
                })
                .append("circle")
                .attr("stroke", "black")
                .attr("fill", "#6699ff")
                .attr("r", node_radius)
                .attr("cx", function (d) {
                    return x(d.price);
                })
                .attr("cy", function (d) {
                    return y(d.article_influence);
                });

        var xAxis = d3.axisBottom(x);
        var yAxis = d3.axisLeft(y);

        // Add the X Axis
        var gX = svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        // Add the Y Axis
        var gY = svg.append("g")
                .call(yAxis);

        // appending X axis label
        svg.append("text")
                .attr("transform", "translate(" + width/2 + "," + (height + 40) + ")")
                .style("text-anchor", "middle")
                .text("Price in USD ($)");

        // appending Y axis label
        svg.append("text")
                .attr("transform", "translate(-35," + height/2 + ")rotate(-90)")
                .style("text-anchor", "middle")
                .text("ArticleInfluence");

    });
</script>
{% endblock %}
